@font-face {
	font-family: 'puls4';
	src:url('fonts/puls4.eot?c7vv5j');
	src:url('fonts/puls4.eot?#iefixc7vv5j') format('embedded-opentype'),
		url('fonts/puls4.ttf?c7vv5j') format('truetype'),
		url('fonts/puls4.woff?c7vv5j') format('woff'),
		url('fonts/puls4.svg?c7vv5j#puls4') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puls4';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\f058";
	margin-right: 0.7em;
}
.icon-star:before {
	content: "\f02a";
	color: #FFBE2C;
	margin-right: 0.3em;
	position: relative;
	top: 0.2em;
}
.icon-triangle-down:before {
	content: "\f05b";
	color: #DD4F24;
}
.icon-triangle-up:before {
	content: "\f0aa";
	color: #07de02;
}
a
{
  color: #22BCE0;
}
body
{
  background: #EEEEEE;
  font-family: "Open Sans";
  font-size: 16px;
}
footer
{
   background: #22BCE0;
   text-align: center;
   color: rgba(255, 255, 255, 0.7);
   padding: 1em;
}
footer p:first-child
{
  margin-bottom: 0;
}
footer p:last-child
{
  margin-top: 0;
}
footer p:last-child:after
{
  content: " -";
}
footer p:last-child:before
{
  content: "- ";
}
header
{
  background: #343B54;
  color: white;
  overflow: hidden;
  padding: 0.5em;
}
header figure
{
  float: left;
  margin: 0px;
}
header h1
{
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.2em 70px 0 0;
}
header #logo
{
	border-right: 1px solid white;
  margin-right: 0.5em;
}
header #logo img
{
  margin-right: 0.5em;
  padding-right: 0.5em;
  width: 52px;
  transition: 0.5s;
}
header #logo img:hover
{
	transform: rotate(360deg);
}
header #avatar img
{
  border-radius: 50%;
  width: 55px;
}
header #avatar
{
  margin: 0.5em 0.5em 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
nav
{
  background:#80BCA3;
  margin: 0;
  padding: 0px 6em 0 0;
  position: relative;
}
nav ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul #publicar_nav
{
  position: absolute;
  top: -0.3em;
  right: 0;
}
nav ul #publicar_nav a
{
  background: #22BCE0;
  border-radius: 5px;
  padding: 0.7em 0.4em 0.7em 2em;
  text-decoration: none;
  font-style: italic;
  font-style: oblique;
  text-shadow:rgba(0, 0, 0, 0.5)
  2px 2px 5px;
  box-shadow:rgba(0, 0, 0, 0.5)
  2px 2px 20px;
}
nav ul #publicar_nav a:before
{
	position: absolute;
	left: 0.5em;
	top: 0.5em;
}
nav ul #publicar_nav a:hover:before
{
	font-size: 18.5px;
	transition: 0.3s;
}
nav ul li
{
  display: inline-block;
  margin: 0 1em 0 0;
}
nav ul li a
{
  display: block;
  color: white;
  padding: 0.5em;
  text-decoration: none;
	transition: 0.3s;
}
nav ul li a:hover
{
	background: #F4502A;
	border-radius: 0.2em;
}
aside
{
	display: none;
}
 #contenido
 {
 margin: 1em;
 }
 #contenido .item
 {
 background: white;
 border-bottom: 3px solid #22BCE0;
margin-bottom: 3em;
 min-height: 128px;
 position: relative;
 }
 #contenido .item .autor_item
 {
 color: #AAA;
 }
#contenido .item .datos_item
 {
 margin: 1em 1em 0 0;
 text-align: right;
 }
 #contenido .item .datos_item .fecha_item
 {
color: #AAA;
 }
 #contenido .item .datos_item .tag_item
 {
 background: #F4502A;
 color: white;
 float: left;
 display:
 inline-block;
 padding: 0.2em 0.5em;
 border-radius: 0.5em;
 text-decoration: none;
 }
#contenido .item .datos_item .tag_item:hover
{
	background: #343B54;
	transition: .3s;
}
 #contenido .item .imagen_item
 {
float: left;
 margin: 0.1em 0 0;
 }
 #contenido .item .imagen_item img
 {
 width: 96px;
 }
 #contenido .item .titulo_item
 {
font-size: 1em;
 font-style: italic;
 }
 #contenido .item .titulo_item a
 {
 color: #444;
 text-decoration: none;
 padding:
1em 1em 0 0;
 }
 #contenido .item .votacion
 {
 position: absolute;
 background: white;
 border-radius: 0 0 0.5em 0.5em;
left: 5%;
 margin-top: 3px;
 padding: 0.2em 0.5em;
 top: 100%;
 width: 90%;
 }
 #contenido .item .votacion a
 {
text-decoration: none;
 }
 #contenido .item .votacion .comentarios_item,
 #contenido .item .votacion .guardar_item
 {
float: right;
 }

@media screen and (min-width: 800px) {

	#contenido
	{
		overflow: hidden;
	}
	#contenido .item
	{
		width: 49%;
		float: left;
	}
	#contenido .item:nth-child(odd)
	{
		margin-right: 2%;
	}
}
@media screen and (min-width: 1000px) {
	aside
	{
		display: block;
		float: right;
		margin: 1em;
		width: 20%;
	}
	aside video
	{
		width: 100%;
	}
}
